{
"extends": "airbnb",
"parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    },
    "plugins":[
        "react"
    ],
    "globals": {
        "module": 0
    },
    "rules": {
        "no-console": ["off"],
        "no-use-before-define": ["off"],
        "no-underscore-dangle", ["off"],
        "no-unused-vars": ["warn"]
    }
}
